---
title: "OSTRICH: Versioned Random-Access Triple Store"
---
<header markdown="1">
<h1><%= h(@item[:title]).gsub(/\n/, '<br>') %></h1>
<div id="repeating-title"><%= @item[:title] %></div>

{:#authors}
- <%= person 'Ruben Taelman', 'http://www.rubensworks.net/', 'http://www.rubensworks.net/#me', 'IDLab — Ghent University — imec', 'ruben.taelman@ugent.be' %>
- <%= person 'Miel Vander Sande', '#', 'https://data.verborgh.org/people/miel_vander_sande', 'IDLab, Ghent University — imec', 'miel.vandersande@ugent.be' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me', 'IDLab — Ghent University — imec', 'ruben.verborgh@ugent.be' %>

{:#affiliations}
- {:#idlab} IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec

<section class="actions" markdown="block">
## Notifications and annotations
- [notification inbox](https://linkedresearch.org/inbox/rdfostrich.github.io/article-demo/){:rel="ldp:inbox"}
- [annotation service](https://linkedresearch.org/annotation/rdfostrich.github.io/article-demo/){:rel="oa:annotationService"}
</section>

<section class="context" markdown="block">
## In reply to
- [Call for Linked Research](https://linkedresearch.org/calls){:rel="as:inReplyTo"}
- [The Web Conference 2018 call for demos](https://www2018.thewebconf.org/call-for-papers/demos-track-cfp/){:rel="as:inReplyTo"}
</section>

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>

<div class="double-column">

<div id="content">
  <%= section 'abstract' %>

<main>
  <%= section 'introduction'  %>
  <%= section 'system'  %>
  <%= section 'preliminary_evaluation' %>
  <%= section 'demonstration-overview'  %>
  <%= section 'conclusions'  %>
</main>

<footer>
  <%= section 'acknowledgements'  %>
  <%= section 'biographies'  %>
  <span style="display: block; height: 5em;"></span>
  <!-- This is a dummy placeholder for forcing the references in a separate column -->
</footer>

<span class="placeholder printonly">
<span style="display: block; height: 30em;"></span>
<!-- This is a dummy placeholder for forcing the references in a separate column -->
</span>

</div>

</div>
